@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-900 text-gray-100;
  -webkit-font-smoothing: antialiased;
  overflow-y: auto;
}

:root {
  --white: #ffffff;
  --gray-100: #e1e1e6;
  --gray-200: #C4C4CC;
  --gray-300: #8D8D99;
  --gray-500: #323238;
  --gray-600: #29292E;
  --gray-700: #121214;
  --gray-900: #09090A;

  --green-300: #00B37E;
  --green-500: #00875f;
  --green-700: #015F43;

  --blue-500: #81D8F7;
  --red-500: #F75A68;

  --warning-300: #FBA94C;
  --warning-500: #EB8A1D;//#f1c40f
  --warning-700: #2E1B06;

  --info-500: #3498db;
  --success-500: #07bc0c;
  --error-500: #e74c3c;

  --toastify-color-light: var(--white);
  --toastify-color-info: var(--info-500);
  --toastify-color-success: var(--success-500);
  --toastify-color-warning: var(--warning-500);
  --toastify-color-error: var(--error-500);
}

#listLessons {
  a {
    #infoLink {
      &.tooltipArrow {
        @apply text-white bg-green-500;
      }

      &.tooltipArrow::before {
        @apply content-[''] absolute w-[.8125rem] h-[.8125rem] bg-green-500 rotate-45 mt-12 -mr-2 left-[4.5%] 4xl:left-[5.4%] 3xl:left-[5.4%] 1xl:left-[5.4%] 0xl:left-[1.4%] xl:left-[5.4%] tablet:left-[1.5%] lg:left-[1.9%] md:left-[2.5%];
      }
    }
  }
}

.toastProgress {
  background: var(--blue-500) !important;
}

.toastBody {
  color: var(--gray-300) !important;
}
